# Python
__pycache__/
.venv/
*.pyc
*.pyo
*.db
*.db-journal
backend/points_system.db
backend/uploads/

# Node
frontend/node_modules/
frontend/dist/
.tmp/

# IDE
.idea/
.vscode/

# OS
.DS_Store
backend/backups/
